body {
    margin: 0;
    padding: 0;
}

#product-top-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#product-image {
    width: 200px;
    height: auto;
}

.product-row {
    font-size: 40px;
    font-weight: bold;
}

.GreenNumbers {
    border: 0.8px solid black;
    padding: 10px 25px;
}
li {
  margin: 10px 0;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 100px;
}

#sidebar-left {
  width: auto;
  padding-left: 50px;
}

#content {
  display: flex;
  gap: 50px;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.tema-div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.btn {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  border: 0.5px solid black;
  padding: 8px;
  border-radius: 10px;
}

.btn:hover {
  cursor: grab;
}